<div align="center">
    <h1>¡Purchase completed!</h1>
    <br>
    <h2>Information</h2>
    <br>
    <div>
        <p><b>Ticket: </b>{{ticketId}}</p>
        <br>
        <p><b>Code: </b>{{ticketCode}}</p>
        <br>
        <p><b>Amount: </b>${{ticketAmount}}</p>
    </div>
</div>